body
{
    background: teal; 
}

h1
{
    font-family: 'Vollkorn', serif;
    color: ivory;
    margin-top: 50px;
}

.row p 
{
    font-family: 'Vollkorn', serif;
    font-size: 25px;
    font-weight: lighter;
    color: ivory;
}

label
{
    font-family: 'Vollkorn', serif;
    color: black;
}

h2, h3, h4, input, select, textarea, option
{
    font-family: 'Libre Franklin',sans-serif;
}

#title, #description
{
    text-align: center;
}

form 
{
    margin: 0 auto;
    width: 750px;
    padding: 3.5em;
    border: 1px solid #CCC;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
    background-color: lightcyan; 
    margin-bottom: 50px;
}

p
{
    font-size: 18px;
    margin-left: 20px;
}

input[type="radio"] 
{
    vertical-align: -6px;
    margin-left: 20px;
    margin-top: 5px;
}

input[type="checkbox"]
{
    vertical-align: -6px;
    width: 18px;
    height: 18px;
    margin-left: 20px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: lighter;
}

input[type="radio"] {
    vertical-align: baseline;
    width: 15px;
    height: 15px;
   
    font-size: 15px;
    font-weight: lighter;
}

label[for="gender-title"]
{
    font-size: 18px !important;
    margin-left: 75px;
}

label[for="gender"] {
    font-size: 18px !important;
    font-weight: lighter;
    margin: 10px;
}

label[for="where"] 
{
    font-weight: lighter;
    font-size: 18px !important;
}

label[for="hphones"] 
{
    font-weight: lighter;
    font-size: 17px !important;
}

label[for="features"] 
{
    font-weight: lighter;
    font-size: 17px !important;
}

label[for="additional-features"] 
{
    font-weight: lighter;
    font-size: 17px !important;
}

.gender
{
    margin-left: 100px;
    padding: 5px;
}

::placeholder
{
    color: lightgrey;
}

form div+div 
{
    margin-top: 1em;
}

#survey-form label 
{
    display: inline;
    width: 90px;
    text-align: left;
    font-family: 'Vollkorn', serif;
    font-size: 23px;
}

input 
{
    height: 23px;
}

label
{
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

#name
{
    width: 625px;
}

#email
{
    width: 625px;
}

#number
{
    width: 30px;
}

input[type='number'] 
{
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
}

textarea 
{
    font-size: 1em;
    width: 500px;
    box-sizing: border-box;
    border: 1px solid #999;
    margin-left: 20px;
}

input:focus,
textarea:focus 
{
    border-color: blue;
}

textarea 
{
    vertical-align: top;
    height: 5em;
}

.button 
{
    padding-left: 16px;
}

.button input
{
    margin-left: 5px;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width:100px;
    height: 40px;
}

.button input:hover
{
    background-color: teal;
    color: ivory;   
}

.button a 
{
    text-decoration: none;
    color: inherit;
}